* {
    background-color: rgba(147, 33, 78, .75)
}
p {
    margin: 6px;
    padding: 6px;
    border: 4px solid black;
    width: 100px;
    height: 100 px;
    background-color: orange;
}

html {
    box-sizing: border-box;
  }
  * {
    box-sizing: inherit;
  }

.my-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto 100px;
  border: 3px dotted lime;
  border-radius: 3%;
}

.has-blue-background {
  background-color: #A7DDFF;
  border: 1px solid #721EE3;
}

.has-yellow-background {
  background-color: #FAF7A7;
  border: 1px solid #E38C1E;
}
